<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Results Published</h1>
<p>Dear <%= @student.profile.first_name %>,</p>
<!--<p>Dear opu,</p>-->
<p>We are pleased to inform you that your results for the  course have been published. You can view your results by logging in to your account on our website.</p>
</body>
</html>
